
.bg {
    background-image: url('./cat_game.jpg'); 
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.games__container {
    margin-left: 5%;
    overflow: scroll;
}
.games__header {
    margin-bottom: 5%;
}

.game__maker {
    font-style: italic;
}

.games {
    margin-bottom: 20%;
}

.btn-1 {
    margin-bottom: 15px;
    margin-right: 5%;
}
