
.bg {
    background-image: url('./cat_game_wallpaper.jpg'); 
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: scroll;
}
.games__container {
    margin-left: 5%;
    position: absolute;
}
.game__maker {
    font-style: italic;
}

