.container {
    background-image: url('./cat.jpeg'); 
    height: 100%;
    width: 100%;
    position: absolute;
}

.events__container {
    margin-left: 5%;
    overflow: scroll;
}

.events {
    margin-bottom: 20%;
}

.btn-1 {
    margin-bottom: 15px;
}
.event__description {
    margin-bottom: 15px;
}